<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCWebHello</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCWebHello.styles.css" asp-append-version="true" />
</head>
<body>
     <header>
         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-success border-bottom box-shadow mb-3 p-0">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://docs.microsoft.com/aspnet/core" target="_blank"><img src="~/pngegg.png" alt="ASPdotNet" title="Learn about ASPdotNet"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Ember" asp-action="Index">Regisztráció</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        -->
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Statisztika</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
       <div class="container" id="lab">
             &copy; <span id="datum"></span> - Hangai Ferko ASPdotnetCore <a asp-area=""  asp-controller="Home" asp-action="Privacy">feladata</a>              
             <a class="float-end" href="https://courses.cubixedu.com/" target="_blank"><img src="~/cubix.png" alt="Cubix"></a>
             <a class="float-end" href="https://www.evosoft.hu/" target="_blank"><img src="~/evosoft.png" alt="Evosoft"></a> 
             <span class="float-end">Támogatóink: &nbsp; &nbsp; </span>            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
