
@{
    ViewData["Title"] = "Home Page";
}
<a asp-area="" asp-controller="Ember" asp-action="Index">

    <p style="text-align:right">Jelenlegi felhasználó: <span id="cookies"></span></p>

    <div class="text-center">
       <h1 class="display-4">Belépéshez kérjük itt regisztráljon</h1>
        <img src="~/smiley2.png" alt="Lépjen be">
    </div>
</a>
